<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-3">

                <div class="footer-about">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque ultrices mauris vitae
                        magna consequat, at mollis urna mattis. Donec vel magna et ipsum aliquam posuere quis eget
                        mi.</p>
                </div>
            </div>
            <div class="col-md-3">
                <h2>Useful Links</h2>
                <hr>
                <br>
                <ul class="footer-links">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Contact</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Contact</h2>
                <hr>
                <br>
                <ul class="footer-address">
                    <li><i class="fas fa-map-marker-alt"></i> New York, NY 10012, USA</li>
                    <li><i class="fas fa-envelope"></i> <a href="mailto:info@example.com">info@example.com</a></li>
                    <li><i class="fas fa-phone-alt"></i> <a href="tel:+0123456788">+01 234 567 88</a></li>
                    <li><i class="fas fa-phone-alt"></i> <a href="tel:+0123456789">+01 234 567 89</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h2>Social Media</h2>
                <hr>
                <br>
                <ul class="social-links">
                    <li><a href="#"><i class="fab fa-facebook-f"></i> Facebook</a></li>
                    <li><a href="#"><i class="fab fa-twitter"></i> Twitter</a></li>
                    <li><a href="#"><i class="fab fa-instagram"></i> Instagram</a></li>
                </ul>
            </div>
        </div>
    </div>

</footer>